OPENAI_API_KEY=your_openai_api_key
GOOGLE_SEARCH_API_KEY=AIzaSyCcsr-6eJYmH6z8N2gPQqdwIDKOGqXI_g8
GOOGLE_SEARCH_ENGINE_ID=734123cc18ff14a9a
DEEPL_API_KEY=your_deepl_api_key
STABILITY_API_KEY=your_stability_api_key
RECIPIENT_EMAIL=anel@webmajstor.ba
GMAIL_USER=your_gmail@gmail.com
GMAIL_PASSWORD=your_gmail_app_password
PINECONE_API_KEY=your_pinecone_api_key
PINECONE_ENV=your_pinecone_env
